@import 'tailwindcss';

@source "../app/**/*.{js,ts,jsx,tsx,mdx}";
@source "../components/**/*.{js,ts,jsx,tsx,mdx}";
@source "../containers/**/*.{js,ts,jsx,tsx,mdx}";

@theme inline {
  --color-red: #ed1944;
  --color-green: #00a651;
  --color-gray: #f8f9fb;
  --transition-duration: 300ms;
  --color-border: #efefef;
  --text-xsp: 13px;
  --text-smp: 15px;
  --text-mdp: 17px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-[--foreground] overflow-x-hidden bg-[--background] text-gray-600;
  }
  p {
    @apply text-gray-700;
  }
  input {
    @apply outline-none;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  #hero_slider {
    .pagination {
      @apply flex items-center w-fit h-6;
      .swiper-pagination-bullet {
        @apply bg-white/40 transition-all rounded-[10px] duration-300 opacity-100;
      }
      .swiper-pagination-bullet-active {
        @apply relative rounded-[10px] !bg-black/10 !w-[30px];
        &::after {
          @apply absolute top-0 left-0 right-0 h-2 rounded-[10px] bg-white;
          animation: pagination-progess 3s normal forwards;
          content: '';
        }
      }
    }
  }

  @keyframes pagination-progess {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}

@utility container {
  @apply mx-auto max-w-7xl px-4;
}

@layer utilities {
  .show {
    @apply opacity-100 visible;
  }
  .hide {
    @apply opacity-0 invisible;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    @apply hidden;
  }
}
